{% extends 'computacao/layout.html' %}

{% block main %}

    <main class="col-sm-12 text-center">

        <h3>Autómatos Finitos Determinísticos (AFD)</h3>
        <p>Apresentam-se nesta página autómatos que foram especificados.</p>

        <table align="center" class="table" style="max-width:900px">
            <tr>
                <th class="text-right">Diagrama de estados</th>
                <th class="text-left">Descrição</th>
            </tr>
            {% load static %}
            {% for automato in automatos %}
                <tr class="text-left">
                    <td>
                        <a href="{% url 'computacao:automato' automato.id %}">
                            <img src="{% static automato.diagrama %}" alt="">
                        </a>
                    </td>
                    <td>
                        <p>{{ automato.descricao }}</p>
                        <p>
                            <a href="{% url 'computacao:automato' automato.id %}" class="btn btn-success  btn-sm">
                                Validar Sequência
                            </a>
                            <a href="{% url 'computacao:edita_automato' automato.id %}" class="btn btn-warning  btn-sm">
                                Editar AFD
                            </a>
                            <a href="{% url 'computacao:apaga_automato' automato.id %}" class="btn btn-danger  btn-sm">
                                Apagar AFD
                            </a>
                        </p>

                    </td>

                </tr>
            {% endfor %}
        </table>

    </main>

{% endblock %}

{% block aside %}
{% endblock %}
