{% extends 'computacao/layout.html' %}

{% block main %}
    <main class="col-sm-6">
        <p>Os limites da minha linguagem são os limites do meu mundo. Ludwig Wittgnestein</p>
        <p>Uma máquina pode fazer o trabalho de cinquenta homens comuns. Nenhuma máquina pode fazer o trabalho de um
            homem extraordinário. Elbert Hubbard</p>
        <p>Qualquer linguagem é necessáriamente um sistema finito aplicado, com diferentes graus de criatividade a uma
            variedade infinita de situações. David Lodge</p>
        <p>A linguagem é uma forma da razão humana, que tem sua lógica interna da qual o homem nada sabe. Claude
            Levi-Strauss</p>
        <p>As máquinas são adoradas porque são bonitas e valorizadas porque conferem poder; são odiadas porque são
            hediondas e porque impõem a escravidão. Bertrand Russel.</p>
        <p>A teoria pode deixar perguntas sem resposta, mas a prática tem que inventar algo. Mason Cooley</p>
    </main>
    <aside class="col-sm-6 text-center">
        <br><br><br>
        {% load static %}
        <img src="{% static 'computacao/images/turing-machine.png' %}" alt="">
    </aside>
{% endblock %}



